<GridLayout rows="auto,auto,auto,*,auto" class="background ">
    <GridLayout row="0" rows="auto" columns="*,auto,*" class="p-12">
        <Label col="0" class="white f-28 md" (tap)="back()" text="&#xe317;"></Label>
        <Label style="color: white; font-weight: bold" col="1" class="actionbar" text="Send"></Label>
        <Label col="2" class="white f-28 md" text="camera_alt" horizontalAlignment="right"></Label>
    </GridLayout>

    <textfield hint="Enter a Trtl Address" class="input-f" row="1"></textfield>

    <GridLayout rows="*,*,*" columns="*" row="2" class="height">
        <Label text="Max" horizontalAlignment="left" verticalAlignment="middle" class="max"></Label>
        <Label row="0" text="400trtl" horizontalAlignment="center" class="text-pri"></Label>
        <Label row="1" text="import_export" class="md f-26 white" verticalAlignment="middle" horizontalAlignment="center"></Label>
        <GridLayout rows="" columns="" row="1" class="line" verticalAlignment="middle"> </GridLayout>
        <Label row="2" text="$0.02" horizontalAlignment="center" class="text-mut"></Label>
    </GridLayout>

    <GridLayout rows="*,*,*,*" columns="*,*,*" row="3" class="b-b-10" [margin]="digits" horizontalAlignment="center" verticalAlignment="middle" orientation="horizontal">
        <Button style="color: white;" row="0" col="0" [width]="itemWidth" [height]="itemWidth" text="1"></Button>
        <Button style="color: white;" row="0" col="1" [width]="itemWidth" [height]="itemWidth" text="2"></Button>
        <Button style="color: white;" row="0" col="2" [width]="itemWidth" [height]="itemWidth" text="3"></Button>
        <Button style="color: white;" row="1" col="0" [width]="itemWidth" [height]="itemWidth" text="4"></Button>
        <Button style="color: white;" row="1" col="1" [width]="itemWidth" [height]="itemWidth" text="5"></Button>
        <Button style="color: white;" row="1" col="2" [width]="itemWidth" [height]="itemWidth" text="6"></Button>
        <Button style="color: white;" row="2" col="0" [width]="itemWidth" [height]="itemWidth" text="7"></Button>
        <Button style="color: white;" row="2" col="1" [width]="itemWidth" [height]="itemWidth" text="8"></Button>
        <Button style="color: white;" row="2" col="2" [width]="itemWidth" [height]="itemWidth" text="9"></Button>
        <Button style="color: white;" row="3" col="0" [width]="itemWidth" [height]="itemWidth" text="."></Button>
        <Button style="color: white;" row="3" col="1" [width]="itemWidth" [height]="itemWidth" text="0"></Button>
        <Button style="color: white;" row="3" col="2" [width]="itemWidth" [height]="itemWidth" text="del"></Button>
    </GridLayout>

    <Button row="4" class="btn" text="Send"></Button>

</GridLayout>